---
---

/* Your SCSS here. */
$background-green: #bdd2b6;
$footer-green: #B6D2BD;
$darker-green: #184d47;
$potato-red: #C74451;
$bright-pink: #C74350;
$color-black: #30323d;
$color-white: #fff;
$color-purple: #cbb6d2;
$darker-red:#4D181E;


// 1024x768 resolution - ipad mini landscape
@media only screen and (max-width: 1024px) {
  // @content;
  #banner {
    /* Use !important to avoid JS overrides the padding on small screens */
    #main-nav {
      font-size: 0.9em !important;
   height: 35px;
   line-height: 30px;
   margin: 0 auto 0.5em;
   padding: 0;
   text-align: center;
   width: 80%;
   }

}
   body {
     font-size: 90%;
     //body h1
     h1 {
       margin: 5px auto 0;
       font-size: 3em;
     }

     h2 {
       font-size: 1.5rem;
       padding: 2px;
     }

     #profile-picture img {
           position: absolute;
           display: block;
           width: 150px;
           length: 150px;
           left: 50%;
           top: 50%;
           transform: translate(-50%, -70%);
         }
         #main-nav.sticky {
   position: fixed;
   font-size: 0.8em !important;
   height:35px !important;
   width: 75%  !important;
   justify-content: space-between;
 }

   }

}

// 1280x720 resolution - ipad landscape
@media only screen and (max-width: 1280px){
  // @content;
  #banner {
    padding: 20px 10px !important;
    /* Use !important to avoid JS overrides the padding on small screens */
    #main-nav {
      font-size: 1em;
   height: 35px;
   line-height: 30px;
   margin: 0 auto 0.5em;
   padding: 0;
   text-align: center;
   width: 80%;
   }

}

  body {
    font-size: 90%;
    //body h1
    h1 {
      margin: 5px auto 0;
      font-size: 3.62rem;
    }

    h2 {
      font-size: 1.5rem;
      padding: 2px;
    }

    .intro-body {
      margin: 70px auto 10px;
      padding: 20px;
    }
    #profile-picture img {
          position: absolute;
          display: block;
          width: 150px;
          length: 150px;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -80%);
        }
        #main-nav.sticky {
  position: fixed;
  font-size: 0.9em !important;
  height:35px !important;
  width: 70%  !important;
  justify-content: space-between;
}

  }


  #greeting {
    // font-size: 70%;
    padding: 10px 0 10px;
    margin: 5px 0 10px;
  }
}


html {
  scroll-behavior: smooth;
}
/****************Header*****************/
/* Banner */
#banner {
  margin: 0 auto;
  padding: 2.5em 0 0;
  //"hello world" format
  h1 {
    font-size: 3.571em;
    font-family: 'Merriweather', serif;
    line-height: 0.6;
    //"hello world" format
    a {
      &:link,
      &:visited {
        color: $darker-green;
        display: block;
        font-weight: bold;
        margin: 0 0 0.6em 0.2em;
        text-align: center;
        text-decoration: none;
        width: 427px;
      }

      &:active,
      &:hover {
        background: none;
        color: $bright-pink;
        text-shadow: none;
      }
    }
  }
  // format nav bar
  nav {
    background: $color-black;
    position: relative;
    display: inline-block;
    // justify-content: space-between;
    font-size: 1.2em;
    height: 40px;
    line-height: 30px;
    margin: 0 auto 1.5em;
    padding: 0;
    text-align: center;
    width: 70%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    z-index: 11;

    ul {
      list-style: none;
      margin: 0 auto;
      display: inline;
      //width of nav bar
      width: 100%;
    }

    li {
      float: center;
      display: inline;
      margin: 0;
      width: 100%;

      &:first-child {
        a {
          border-top-left-radius: 5px;
          -moz-border-radius-topleft: 5px;
          -webkit-border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          -moz-border-radius-bottomleft: 5px;
          -webkit-border-bottom-left-radius: 5px;
        }
      }
    }

    a {
      &:link,
      &:visited {
        color: $color-white;
        display: inline-block;
        height: 30px;
        padding: 2px 0.5em;
        text-decoration: none;
      }

      &:active,
      &:hover {
        background: $potato-red;
        color: $color-white;
        text-shadow: none !important;
      }
    }

    .active {
      a {
        &:link,
        &:visited {
          background: $potato-red;
          color: $color-white;
          text-shadow: none !important;
        }
      }
    }
  }
}

#main-nav.sticky {
  position: fixed;
  font-size: 0.9em;
  height: 40px;
  width: 60%;
  padding: 0;
  top: 0;
  display: inline-block;
  justify-content: space-between;
  transform: translateX(-50%);
}

.navbarOffsetMargin {
  padding-top: -45px;
}

.active {
  border-bottom: 2px solid $color-purple;
  background-color: $bright-pink;
}
/********************body*********************/
/*Fixed background picture*/
body {
  margin: 0;
  text-align: center;
  /*center all elements without a width setting*/
  font-family: 'Merriweather', serif;
  /*Biotif-Regular,Helvetica Neue,Helvetica,Arial,sans-serif;*/
  background-image: url('https://i.imgur.com/qcr3d2o.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: 100%;
}

h1 {
  margin: 10px auto 0;
  font-family: 'Sacramento', cursive;
  color: $darker-green;
  font-size: 5.62rem;
  /*100%=16px=1em if em/percentage is set up in the body then it gets inherited down*/
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  /*root em which wont be added to the body em setting*/
  color: $darker-green;
  font-weight: normal;
  padding: 5px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  color: $color-white;
}

.top-container {
  position: relative;
}

#greeting {
  background-color: $background-green;
  width: 100%;
  padding: 10px 0 50px;
  margin: 10px 0 50px;
}

.intro-body {
  background-color: $background-green;
  height: 90%;
  width: 60%;
  margin: 100px auto 20px;
  padding: 50px 10px;
  -webkit-border-radius: 40px;

  p {
    color: $color-black;
  }
}

#profile-picture img {
  position: absolute;
  display: block;
  width: 200px;
  length: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
}

* {
  box-sizing: border-box;
}

.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;

  .mySlides {
    /* We will hide all images by default and only show one each time */
    display: none;
    width: 100%;

    img {
      width: 50%;
      height: 50%;
      position: relative;
      top: 0;
      left: 0;
    }
  }
  /* Add Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0.5;
    }

    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.5;
    }

    to {
      opacity: 1;
    }
  }
  /* Add Next and previous buttons for slideshow */
  .next,
  .prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 58px;
    transition: 0.8s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  /* right -->"next button" */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
  .next:hover,
  .prev:hover {
    background-color: $color-black;
  }
  /* Caption text */
  .text {
    color: $color-white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
}

// flex-container (multi-column layout)
.flex-container {
  width: 70%;
  display: inline-flex;
  justify-content: space-between;

  p {
    color: $color-white;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
  }

  .item {
    width: 100%;

    img {
      width: 70%;
      height: 70%;
    }
  }

  #item1 {
    background-color: $darker-green;
    padding: 15px;
  }

  #item2 {
    background-color:steelblue;
    padding: 15px;
  }

  #item3 {
    background-color: $color-purple;
    padding: 15px;
  }

  #item4 {
    background-color: $color-purple;
    padding: 15px;
  }

  #item5 {
    background-color: lightskyblue;
    padding: 15px;
  }

  #item6 {
    background-color: $darker-green;
    padding: 15px;
  }
}
/* modal */
.modal {
  /* Hidden by default*/
  display: none;
  z-index: 100;
  margin: auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* Enable scroll */
  overflow: auto;
  /* opacity */
  background:$color-black;

  .modal-content {
    position:center;
    background-color: $background-green;
    height: 90%;
    width: 60%;
    margin: auto;
    padding: 50px;
    -webkit-border-radius: 40px;

    img {
      width: 40%;
    }
  }
  // close button
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }

  .close:focus,
  .close:hover {
    color: lightgrey;
    cursor: pointer;
  }
}



.skill {
  width:70%;
  display:flex;
  margin:auto;
  background-color: $background-green;
  // display: inline-flex;
  justify-content: space-between;
}

.skills div {
  flex:1;
  border:10px solid;
}

.skill-col {
  width: 60%;
  margin: 50px 50px 50px;
  text-align: center;
  padding:20px 30px 20px;
  //padding-right: 10px;
}

.projects-row {
  width: 60%;
  margin: 100px auto 175px;
  text-align: left;
}

.data {
  color: $bright-pink;
}

.mycat {
  margin: -8px 0 0 -6px;
}

#contact_me {
  margin: auto;
  padding: auto;
}
/* Style the video: 100% width and height to cover the entire window */
#cloudsVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(-50%);
  // width:100%;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.skill-pic {
  width: 25%;
  float: left;
  margin-right: 30px;
  display: block;
}

.skill-pic2 {
  border-radius: 50%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.project-pic {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.project-pic2 {
  /* border-radius: 50%; */
  width: 30%;
  float: right;
  margin-left: 30px;
}

.project-pic3 {
  width: 30%;
  float: left;
  margin-right: 30px;
}

hr {
  border: dotted #EAF6F6 10px;
  border-bottom: none;
  margin: 100px auto;
  width: 10%;
}

a {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:link,
a:visited {
  color: $bright-pink;
  padding: 0 1px;
  text-decoration: underline;
}

a:hover {
  color: #EAF6F6;
}

a:active,
a:hover {
  background-color: $bright-pink;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px #333;
}
/* Contact Me Button */
.btn {
  align-items: center;
  background-color:$color-purple;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: bright-pink;
  cursor: pointer;
  display: flex;
  margin: 50px auto;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:after {
  background-color: $color-black;
  border-radius: 8px;
  content: "👩‍💻";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.btn:hover:after {
  transform: translate(0, 0);
}

.btn:active {
  background-color: #ffdeda;
  outline: 0;
}

.btn:hover {
  outline: 0;
  background-color: $bright-pink;
}

.social-icon {
  margin: 10px;
}
@media (min-width: 768px) {
  .btn {
    padding: 0 40px;
  }
}

#bottom-container {
  background-color:$footer-green;
  padding: 10px 0;
  position: sticky;
  bottom: 0;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 0;
}

.footer_link {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
